table{
    width: 50%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse; /*Para que sean finos los bordes de una vez*/
    /*border-spacing: 5px;*/ /*Otra forma de verlo*/
    padding: 5px; /*Para dar mas espacio*/
}
caption{
    color: #e6364e;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    line-height: 70px;
}
th{
    color: #f1faee;
    background-color: #1d3557;
}

tr:nth-child(even){
    background-color: #f1faee;
}
tr:nth-child(odd){
    background-color: #a8dadc;
}



/*
td{
    text-align: center;
}
th{
    text-align: center;
}*/